# Feladat

A Titanic adathalmaz

A Titanic adathalmaz az egyik legismertebb nyílt forráskódú dataset, amelyet gyakran használnak adatfeldolgozás, statisztikai elemzés és gépi tanulás gyakorlására. Az adatok az 1912. április 15-én elsüllyedt RMS Titanic utasainak információit tartalmazzák, és azt vizsgálják, hogy kik élték túl a katasztrófát.

Az Adathalmaz jellemzői

- Forrás: OpenML, eredetileg a Kaggle és más statisztikai publikációk alapján.
- Sorok száma: 1309 utas
- Oszlopok száma: 14 jellemző

Az Adathalmaz oszlopai

- pclass =	Utasosztály (1 = első, 2 = második, 3 = harmadosztály)
- sex	= Utas neme (male = férfi, female = nő)
- age	= Utas életkora (néhány érték hiányzik)
- sibsp	= A fedélzeten lévő testvérek és házastársak száma
- parch	= A fedélzeten lévő szülők és gyermekek száma
- fare =	Jegy ára (fontban)
- embarked =	Hol szállt fel az utas (C=Cherbourg, Q=Queenstown, S=Southampton)
- home.dest =	Az utas lakhelye vagy úti célja
 -survived =	Célváltozó (0 = nem élte túl, 1 = túlélte)

Érdekességek a Titanic túlélési adatairól
-  Az 1. osztályú utasok túlélési aránya sokkal magasabb volt, mint a 3. osztályú utasoké.
-  A nők túlélési esélye jelentősen nagyobb volt, mint a férfiaké.
-  Az "Women and children first" szabály miatt a fiatalabb utasok jobban túlélték a katasztrófát.

Adathalmaz forrása: sklearn.datasets.fetch_openml('titanic', version=1)

In [72]:
# Titanic adatok betöltése Scikit-learn segítségével

from sklearn.datasets import fetch_openml
import pandas as pd

# Adatok betöltése az OpenML adatbázisból
titanic = fetch_openml(name="titanic", version=1, as_frame=True)

# Adatok átalakítása Pandas DataFrame formátumba
df = titanic.data
df["survived"] = titanic.target  # A célváltozót (y) is hozzárendeljük

# Az első néhány sor kiírása
display(df.head())

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest,survived
0,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO",1
1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON",1
2,1,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON",0
3,1,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON",0
4,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON",0

### 1. Feladat – Adatok betöltése és előzetes elemzése


- Töltsd be a Titanic adathalmazt a Scikit-learn fetch_openml függvényével.
- Ellenőrizd az adathalmaz méretét (shape).
- Nézd meg az első 5 sort (head()) és az oszlopneveket (columns).

Elvárt kimenet (példa, a pontos értékek változhatnak):




Az adathalmaz mérete: (1309, 14)
Oszlopnevek: ['pclass', 'survived', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket', 'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest']

In [73]:
print(df.shape)
print(df.columns)

(1309, 14)
Index(['pclass', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket', 'fare',
       'cabin', 'embarked', 'boat', 'body', 'home.dest', 'survived'],
      dtype='object')

### 2. Feladat - Típusok
   - Ellenőrizd az oszlopok típusát: df.info()
   - Ha a survived nem numerikus, alakítsd számmá (0/1).

In [74]:
df["survived"] = df["survived"].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     1309 non-null   int64
 1   name       1309 non-null   object
 2   sex        1309 non-null   category
 3   age        1046 non-null   float64
 4   sibsp      1309 non-null   int64
 5   parch      1309 non-null   int64
 6   ticket     1309 non-null   object
 7   fare       1308 non-null   float64
 8   cabin      295 non-null    object
 9   embarked   1307 non-null   category
 10  boat       486 non-null    object
 11  body       121 non-null    float64
 12  home.dest  745 non-null    object
 13  survived   1309 non-null   int64
dtypes: category(2), float64(3), int64(4), object(5)
memory usage: 125.7+ KB

### 3. Feladat – Kategóriák numerikussá alakítása

- Alakítsd át a "sex" oszlopot Label Encoding segítségével (male=0, female=1).
- Használj One-Hot Encodingot az "embarked" oszlopra (S, C, Q).
- Nézd meg, hogy a survived oszlop hogyan oszlik meg (value_counts()).

In [75]:
df["sex_num"] = df["sex"].map(lambda x: 0 if x == "male" else (1 if x == "female" else 2))
df["sex_num"] = df["sex_num"].astype(int)
display(df[["sex", "sex_num"]].head())


df_ohe = pd.get_dummies(df, columns=["embarked"])
display(df_ohe.head())


print(df["survived"].value_counts())

      sex  sex_num
0  female        1
1    male        0
2  female        1
3    male        0
4  female        1

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,boat,body,home.dest,survived,sex_num,embarked_C,embarked_Q,embarked_S
0,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,2,NaN,"St Louis, MO",1,1,False,False,True
1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,11,NaN,"Montreal, PQ / Chesterville, ON",1,0,False,False,True
2,1,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,NaN,NaN,"Montreal, PQ / Chesterville, ON",0,1,False,False,True
3,1,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,NaN,135.0,"Montreal, PQ / Chesterville, ON",0,0,False,False,True
4,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,NaN,NaN,"Montreal, PQ / Chesterville, ON",0,1,False,False,True

survived
0    809
1    500
Name: count, dtype: int64

### 4. Feladat – Hiányzó értékek kezelése


- Határozd meg, mely oszlopok tartalmaznak hiányzó adatokat.
- Pótold a numerikus oszlopokban lévő hiányzó értékeket átlaggal.
- Pótold a kategóriális oszlopokban lévő hiányzó értékeket a leggyakoribb értékkel (módusz).

In [76]:
df["body"].fillna(df["body"].mean(), inplace=True)
df["age"].fillna(df["age"].mean(), inplace=True)
df["fare"].fillna(df["fare"].mean(), inplace=True)


df["cabin"] = df["cabin"].fillna(df["cabin"].mode()[0])
df["embarked"] = df["embarked"].fillna(df["embarked"].mode()[0])
df["boat"] = df["boat"].fillna(df["boat"].mode()[0])
df["home.dest"] = df["home.dest"].fillna(df["home.dest"].mode()[0])
print(df.isnull().sum())

pclass       0
name         0
sex          0
age          0
sibsp        0
parch        0
ticket       0
fare         0
cabin        0
embarked     0
boat         0
body         0
home.dest    0
survived     0
sex_num      0
dtype: int64

/tmp/ipython-input-558847899.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["body"].fillna(df["body"].mean(), inplace=True)
/tmp/ipython-input-558847899.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["age"].fillna(df["age"].mean(), inplace=True)
/tmp/ipython-input-558847899.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["fare"].fillna(df["fare"].mean(), inplace=True)

### 5. Feladat – Numerikus és kategóriás oszlopok kiválasztása

- Listázd ki a numerikus oszlopokat a select_dtypes(include=["number"]) segítségével.
- Listázd ki a kategóriás oszlopokat a select_dtypes(exclude=["number"]) segítségével.
- Konvertáld az "age" oszlop értékeit 0 és 1 közé Min-Max skálázással.

Elvárt kimenet (példa):
- Numerikus oszlopok: ['age', 'sibsp', 'parch', 'fare', 'body']
- Kategóriás oszlopok: ['name', 'sex', 'ticket', 'cabin', 'embarked', 'home.dest']

In [77]:
numerikus_oszlopok = df.select_dtypes(include=["number"]).columns
print(numerikus_oszlopok)

nem_numerikus_oszlopok = df.select_dtypes(exclude=["number"]).columns
print(nem_numerikus_oszlopok)

df["age_scaled"] = (df["age"] - df["age"].min()) / (df["age"].max() - df["age"].min())
display(df.head())

Index(['pclass', 'age', 'sibsp', 'parch', 'fare', 'body', 'survived',
       'sex_num'],
      dtype='object')
Index(['name', 'sex', 'ticket', 'cabin', 'embarked', 'boat', 'home.dest'], dtype='object')

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest,survived,sex_num,age_scaled
0,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,160.809917,"St Louis, MO",1,1,0.361169
1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,160.809917,"Montreal, PQ / Chesterville, ON",1,0,0.009395
2,1,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,13,160.809917,"Montreal, PQ / Chesterville, ON",0,1,0.022964
3,1,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,13,135.000000,"Montreal, PQ / Chesterville, ON",0,0,0.373695
4,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,13,160.809917,"Montreal, PQ / Chesterville, ON",0,1,0.311064

### 6. Feladat - Szűrés
- Szűrd ki a 30 év alatti nőket, akik 1. osztályon utaztak, és túlélték a katasztrófát.
- Rendezd az eredményt kor szerint csökkenő sorrendbe.

In [78]:
df_filtered = df[df["age"] > 30 & (df["age"] < 30) & (df["pclass"] == 1) & (df["survived"] == 1) ]
df_filtered = df_filtered.sort_values(by="age", ascending=False)
display(df_filtered.head())

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest,survived,sex_num,age_scaled
14,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.0,0,0,27042,30.0000,A23,S,B,160.809917,"Hessle, Yorks",1,0,1.000000
61,1,"Cavendish, Mrs. Tyrell William (Julia Florence...",female,76.0,1,0,19877,78.8500,C46,S,6,160.809917,"Little Onn Hall, Staffs",1,1,0.949896
1235,3,"Svensson, Mr. Johan",male,74.0,0,0,347060,7.7750,C23 C25 C27,S,13,160.809917,"New York, NY",0,0,0.924843
135,1,"Goldschmidt, Mr. George B",male,71.0,0,0,PC 17754,34.6542,A5,C,13,160.809917,"New York, NY",0,0,0.887265
9,1,"Artagaveytia, Mr. Ramon",male,71.0,0,0,PC 17609,49.5042,C23 C25 C27,C,13,22.000000,"Montevideo, Uruguay",0,0,0.887265

## 7. Feladat – Életkori csoportok, összesítések és nemenkénti bontás

**Cél:** életkori kategóriák képzése, túlélési mutatók és alapstatisztikák számítása, majd bontás nemek szerint.

Új oszlop: age_group
Hozz létre egy kategóriát az age alapján az alábbi **fél-nyílt** intervallumokkal (balról zárt, jobbról nyitott):
- **Gyerek**: [0, 10)
- **Fiatal**: [10, 20)
- **Fiatal felnőtt**: [20, 35)
- **Középkorú**: [35, 60)
- **Idős**: [60, ∞)

Megjegyzés:
 - A hiányzó életkorokat kezeld külön: jelöld **Ismeretlen** kategóriával *vagy* hagyd ki az összesítésekből — jelezd, melyiket választottad.
 - Gondoskodj róla, hogy a age_group **rendezett kategória** legyen (Gyerek → … → Idős), hogy a táblázatok érthető sorrendben jelenjenek meg.

In [79]:
df["age_group"] = df["age"].map(lambda x: "Gyerek" if x < 10 else ("Fiatal" if x < 20 else ( "Fiatal felnőtt" if x < 35 else ("Középkorú" if x < 60 else "Idős"))))
df = df.sort_values(by="age", ascending=True)
display(df.head())

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest,survived,sex_num,age_scaled,age_group
763,3,"Dean, Miss. Elizabeth Gladys 'Millvina'",female,0.1667,1,2,C.A. 2315,20.5750,C23 C25 C27,S,10,160.809917,"Devon, England Wichita, KS",1,1,0.000000,Gyerek
747,3,"Danbom, Master. Gilbert Sigvard Emanuel",male,0.3333,0,2,347080,14.4000,C23 C25 C27,S,13,160.809917,"Stanton, IA",0,0,0.002087,Gyerek
1240,3,"Thomas, Master. Assad Alexander",male,0.4167,0,1,2625,8.5167,C23 C25 C27,C,16,160.809917,"New York, NY",1,0,0.003132,Gyerek
427,2,"Hamalainen, Master. Viljo",male,0.6667,1,1,250649,14.5000,C23 C25 C27,S,4,160.809917,"Detroit, MI",1,0,0.006263,Gyerek
657,3,"Baclini, Miss. Eugenie",female,0.7500,2,1,2666,19.2583,C23 C25 C27,C,C,160.809917,"Syria New York, NY",1,1,0.007306,Gyerek

### 8. Feladat - Összesítés életkori csoportonként
Számítsd ki **csoportonként (age_group)**:
- n (megfigyelések száma),
- survived_count (túlélők száma, azaz survived összege),
- survival_rate (túlélési arány, azaz survived átlaga),
- age_min, age_median, age_max (életkor min/medián/max — az Ismeretlen csoportot itt hagyhatod üresen).

Jelezd, ha a hiányzó életkorok miatt bármelyik statisztika nem értelmezhető egy csoportban.

In [80]:
df_grouped = ( df.groupby("age_group").agg(
        n=("survived", "count"),
        survived_count=("survived", "sum"),
        survival_rate=("survived", "mean"),
        age_min=("age", "min"),
        age_median=("age", "median"),
        age_max=("age", "max")
    )
)
df_grouped = df_grouped.sort_values(by="age_max", ascending=True)

display(df_grouped)

,n,survived_count,survival_rate,age_min,age_median,age_max
age_group,,,,,,
Gyerek,82,50,0.609756,0.1667,3.500000,9.0
Fiatal,143,56,0.391608,10.0000,17.000000,19.0
Fiatal felnőtt,739,254,0.343708,20.0000,29.881135,34.5
Középkorú,305,128,0.419672,35.0000,43.000000,59.0
Idős,40,12,0.300000,60.0000,63.000000,80.0

### 9.Feladat -  Nemenkénti bontás
Ismételd meg az összesítést **age_group × sex** bontásban:
- számold ki n, survived_count, survival_rate mutatókat (az életkor-statisztikák opcionálisak),
- ügyelj a sex értékeinek konzisztenciájára (female/male).
- Rendezd a táblázatokat az életkori csoportok **logikus sorrendje** szerint.
- Javasolt oszlopok: age_group, sex (ha van), n, survived_count, survival_rate, age_min, age_median, age_max.

### 10. Feladat – Csoportosítás és korreláció

Túlélési arány osztályok szerint:
- Számítsd ki a túlélési arányt pclass szerint, és add meg a mintanagyságot is osztályonként.
- Kiegészítés: ismételd meg pclass × sex bontásban, és értelmezd a különbségeket (konfundálás).

In [81]:
df_grouped_p = (df.groupby("pclass").agg(
        n=("survived", "count"),
        survived_count=("survived", "sum"),
        survival_rate=("survived", "mean")
    )
)
display(df_grouped_p)

          n  survived_count  survival_rate
pclass
1       323             200       0.619195
2       277             119       0.429603
3       709             181       0.255289

### 11. Korreláció a túléléssel

- Vizsgáld a bináris survived és a numerikus jellemzők közötti kapcsolatot.
- Nézd meg a Spearman korrelációt is.
- Készíts log-transzformált fare-t és hasonlítsd össze a korrelációs együtthatókat.

### 12. Feladat – Többfüggvényes aggregáció (groupby + agg)

Készits kimutatást nem és osztályonként több mutatótval egy lépésben.
Csoportosíts pclass × sex szerint.

Számítsd ki:
- n (darabszám),
- survival_rate (= survived átlaga),
- age_median (medián),
- fare_median (medián),
- fare_IQR (Q3–Q1, lambda: x.quantile(.75) - x.quantile(.25)).

Rendezd survival_rate szerint csökkenő sorrendbe.
Ellenőrzés: a táblázat indexe több szintű (pclass, sex), az oszlopok a fenti nevű mutatók.

### 13. Feladat – „Named aggregation” + egyedi mutatók (lambda)

Készits beszédes oszlopneveket és saját képleteket.
Pl. Hozz létre family_size = sibsp + parch + 1.

Csoportosíts pclass szerint, és agg-gel számítsd:
- avg_family_size (átlag),
- large_family_rate (arány, lambda: a family_size >= 4 részesedése),
- youth_rate (arány, lambda: age < 18 részesedése – hiányzókat hagyd ki).

Ellenőrzés: 3 új, beszédes nevű oszlop jelenjen meg; értelmezd röviden, mit jelent a három mutató.

### 14. Feladat – Kontingenciatábla (pd.crosstab)

Készits kategória × kategória kapcsolat gyors áttekintése.

Pl. crosstab-ot pclass × survived-ra:
- nyers darabszámok
- normalize="index" (osztályon belüli arányok),
- margins=True (összes sor/oszlop).

Ugyanezt kipróbálhatod a sex × survived-ra is mutasd meg.

Ellenőrzés: a normalizált táblában a sorok összege = 1; rövid megjegyzés, mit látsz.

### 15. Feladat – Crosstab érték-aggregációval + életkori csoport

A crosstab nem csak számolni tud, aggregálni is.

- Hozz létre rendezett age_group kategóriát (pl. [0,10), [10,20), [20,35), [35,60), [60,∞); hiányzó kor: „Ismeretlen”).
- Készíts pd.crosstab(age_group, sex, values=fare, aggfunc="median") táblát (medián viteldíj korcsoport × nem szerint).
- Készíts külön táblát normalize="all"-lal age_group × survived-ra (teljes mintán belüli arányok).

Ellenőrzés: a medián-táblában számszerű viteldíjak; a normalizált táblában az összeg 1.